MYSQL_HOST = YOUR_HOST
MYSQL_USER = YOUR_USERNAME
MYSQL_DATABASE = YOUR_DATABASE
MYSQL_PASS = YOUR_PASSWORD

SECRET_KEY = WHATEVER_KEY
PORT = YOUR_PORT

USER_EMAIL = your_smtp-email@gmail.com
PASS_EMAIL = your_smtp_password